# Daily_Koofr_Backups_secret.conf.example

# Enter your Duplicati server passphrase below.
# This password is used to generate the API Access Token.
# Note: This must match the password set in your Duplicati WebUI 
# and/or your Unraid Docker template environment variables.

DUPLICATI_PASS="YOUR_PASSWORD_HERE"